<div class="sidebar">
    <ul>
        <li><a routerLink="dashboard">Data Binding</a></li>
        <li><a routerLink="communication">Communication between components</a></li>
        <li><a routerLink="reactiveforms">Reactive Forms</a></li>
        <li><a routerLink="pipesanddirectives">Pipes and Directives</a></li>
        <li><a routerLink="dependencyinjection">Dependency Injection</a></li>
        <li><a routerLink="lifecyclehooks">Lifecycle Hooks</a></li>
        <li><a routerLink="aggrid">AG Grid</a></li>
    </ul>
  </div>
  